.cognitive_method_container {
    padding: 0 80px;
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    background: #F4EFEB;
}

.cognitive_method_wrapper {
    padding: 80px 70px 0 40px;
    width: 100%;
    background: #FFFFFF;
}

.cognitive_method_content {
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cognitive_method_content > .image_box,
.cognitive_method_content > .info_box {
    max-width: 479px;
    width: 100%;
    height: 100%;
}

.cognitive_method_content > .info_box > p {
    direction: rtl;
    text-align: justify;
    font-size: 17px;
    font-family: Almoni, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    color: #414141;
}

.cognitive_method_content > .info_box > p > span {
    color: #943814;
}

.cognitive_method_content > .image_box {
    position: relative;
    width: 477px;
    height: 563px;
}

.cognitive_method_content > .image_box > .back_fon {
    position: absolute;
    width: 509px;
    height: 450px;
    left: 0;
    bottom: -40px;
    background: #F4EFEB;
}


.cognitive_method_content > .image_box > .back_fon > span {
    position: absolute;
    left: 5px;
    bottom: 15px;
    font-family: Almoni, sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #414141;
}

.cognitive_method_content > .image_box > img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.cognitive_method_more_block {
    direction: rtl;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #988C86;
}

.cognitive_method_more_block > p {
    direction: rtl;
    font-family: Almoni, sans-serif;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 0.8em;
    text-align: center;
    letter-spacing: normal;
}

.cognitive_method_more_block > .mobile_empty_block {
    display: none;
}

@media screen and (max-width: 768px) {

    body:has(.cognitive_method_container) {
        zoom: 154%;
    }

    .cognitive_method_container {
        padding: 0;
        display: flex;
        justify-content: center;
        background: #F4EFEB;
    }

    .cognitive_method_content {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .cognitive_method_wrapper {
        padding: 25px 20px 0 20px;
        width: 100%;
        background: #FFFFFF;
    }


    .cognitive_method_content > .image_box > .back_fon {
        position: absolute;
        width: 509px;
        height: 450px;
        left: 0;
        bottom: -40px;
        background: #F4EFEB;
    }

    .cognitive_method_content > .info_box > p,
    .cognitive_method_content > .info_box > p > span {
        font-size: 16px;
        color: #22495a;
    }

    .cognitive_method_content > .image_box {
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }

    .cognitive_method_content > .image_box > img {
        /*position: relative;*/
        width: 255px;
        height: 255px;
    }

    .cognitive_method_content > .image_box > .back_fon {
        width: 237px;
        height: 298px;
        left: -20px;
        top: -20px;
        bottom: auto;
    }

    .cognitive_method_content > .image_box > .back_fon > span {
        left: 20px;
        bottom: 7px;
    }

    .cognitive_method_more_block {
        position: relative;
        padding: 50px 30px 10px 30px;
        justify-content: flex-start;
        background: transparent;
    }

    .cognitive_method_more_block > .mobile_empty_block {
        position: absolute;
        width: calc(100% - 60px);
        top: 20px;
        left: 30px;
        height: 50px;
        display: block;
        background: #988C86;
    }

    .cognitive_method_more_block > p {
        position: relative;
        z-index: 2;
        font-size: 22px;
        text-align: start;
    }

}

@media screen and (max-width: 560px) {
    body:has(.cognitive_method_container) {
        zoom: 154%;
    }
}

@media screen and (max-width: 519px) {
    body:has(.cognitive_method_container) {
        zoom: 140%;
    }
}

@media screen and (max-width: 479px) {
    body:has(.cognitive_method_container) {
        zoom: 104%;
    }
}