footer {
    width: 100%;
    /*height: 437px;*/
    background: #574F4B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


footer > .image_block > img {
    width: 491px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

footer > .navigation_block {
    width: 250px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


footer > .navigation_block > ul {
    list-style-type: none;
    direction: rtl;
    display: flex;
    flex-direction: column;
}

footer > .navigation_block > ul > li > a {
    font-family: Almoni, sans-serif;
    line-height: 2.5em;
    font-size: 16px;
    color: #FFFFFF;
}

footer > .navigation_block > hr {
    width: 100%;
}

footer > .navigation_block > a,
footer > .mobile_block > a {
    text-align: right;
    direction: rtl;
    font-family: Almoni, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #FFFFFF;
}

footer > .navigation_block > a.phone,
footer > .mobile_block > a.phone {
    font-size: 25px;
    font-family: Forum, sans-serif;
}

footer > .navigation_block > a.text,
footer > .mobile_block > a.text {
    font-size: 18px;
}

footer > .mobile_block {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer > .contact_block > .mobile_hr {
    display: none;
}

footer > .contact_block {
    margin: 0 55px;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

footer > .contact_block > h1 {
    font-family: Almoni, sans-serif;
    font-size: 31px;
    color: #FFFFFF;
    text-align: right;
}


footer > .contact_block > label > input,
footer > .contact_block > label > textarea {
    margin: 10px 0;
    outline: none;
    border: none;
    direction: rtl;
    width: 263px;
    height: 61px;
    background: #E0B548;
    padding: 3px 9px 3px 3px;
    font-family: Almoni, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

footer > .contact_block > label > input::placeholder,
footer > .contact_block > label > textarea::placeholder {
    color: #414141;
}

footer > .contact_block > label > textarea {
    height: 110px;
    padding: 10px 9px 3px 10px;
}


footer > .contact_block > label > input:focus {
    background: #FFD5BD6A;
}

footer > .contact_block > button {
    cursor: pointer;
    border: none;
    border-radius: 9px;
    margin: 15px 0 0 calc((100% - 193px) / 2);
    width: 193px;
    height: 49px;
    background: #FFD45A;
    font-size: 17px;
    font-family: Almoni, sans-serif;
    color: #353131;
}

@media screen and (max-width: 1024px) {
    footer > .image_block > img {
        width: 491px;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media screen and (max-width: 1024px) {
    footer > .image_block > img {
        width: 310px;
        height: 450px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    footer > .contact_block {
        margin: 30px 0;
        height: 100%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width: 680px) {
    footer {
        flex-direction: column;
    }

    footer > .navigation_block {
        display: none;
    }

    footer > .mobile_block {
        display: flex;
        margin-bottom: 40px;
    }

    footer > .contact_block {
        margin: 0;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    footer > .contact_block > h1 {
        margin: 30px 0;
        font-weight: 400;
    }

    footer > .contact_block > .mobile_hr {
        display: block;
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    footer > .contact_block > label > input,
    footer > .contact_block > label > textarea {
        margin: 5px 0;
        width: 224px;
        height: 31px;
        background: #E0B548;
    }

    footer > .contact_block > label > textarea {
        padding: 12px 9px 3px 10px;
        height: 56px;
    }

    footer > .contact_block > button {
        border-radius: 9px;
        margin: 15px 0 40px 0;
        width: 164px;
        height: 42px;
    }

    footer > .image_block {
        padding: 0;
        width: 100%;
        height: 250px;
    }

    footer > .image_block > img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 100%;
    }
}