.content_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    padding: 70px 70px 15px 70px;
    display: flex;
    justify-content: center;
    width: calc(100% - 80px - 80px);
    /*min-height: 100vh;*/
    background: white;
}

/*TODO check info_block class name issue*/
.text_block, .info_block {
    max-width: 490px;
    display: flex;
    flex-direction: column;
}

.text_block > .box {
    /*margin: 10px 0;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100px;
}

.text_block > .box > h5 {
    font-weight: bold;
    margin-bottom: 8px;
    color: #F2B827;
    font-size: 17px;
    font-family: Almoni, sans-serif;
}

.text_block > .box > p {
    direction: rtl;
    text-align: justify;
    font-size: 17px;
    font-family: "Almoni", sans-serif;
    color: #414141;
    letter-spacing: normal;
    line-height: 25px;
    font-weight: 100;
}

.text_block > .box > p > span {
    color: #414141;
    font-weight: bold;
}

.info_block {
    margin-left: 40px;
    padding-top: 40px;
}

.info_block > .image_background {
    position: relative;
    width: 404px;
    height: 460px;
    background: #574F4B;
}

.info_block > .image_background > img {
    position: absolute;
    top: -40px;
    left: calc((100% - 332px) / 2);
    width: 332px;
    height: 469px;
    object-fit: cover;

}

.info_block > .email, .info_block > .phone {
    text-align: right;
    font-size: 20px;
    line-height: 1.5em;
    font-family: Almoni, sans-serif;
    color: #414141;
}

.info_block > .phone {
    font-size: 33px;
}


@media screen and (max-width: 768px) {
    body:has(.content_container) {
        zoom: 154%;
    }

    .content {
        padding: 25px 15px 70px 15px;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .text_block {
        padding-bottom: 30px;
    }

    .info_block {
        margin-left: 0;
        align-items: center;
    }

    .text_block > .box > h5 {
        direction: rtl;
        line-height: 25px;
    }

    .info_block > .image_background > img {
        top: -30px;
        left: calc((100% - 218px) / 2);
        width: 218px;
        height: 327px;
    }

    .info_block > .image_background {
        width: 280px;
        height: 327px;
        margin-bottom: 10px;
    }

    .info_block > .email, .info_block > .phone {
        font-size: 17px;
        line-height: 1.5em;
    }

    .info_block > .phone {
        font-size: 24px;
    }

}

@media screen and (max-width: 560px) {
    body:has(.content_container) {
        zoom: 154%;
    }
}

@media screen and (max-width: 519px) {
    body:has(.content_container) {
        zoom: 140%;
    }
}

@media screen and (max-width: 479px) {
    body:has(.content_container) {
        zoom: 104%;
    }
}